form{
    background: url("formBackground.jpg");
    width: 400px;
    height: 700px;
    border-radius: 6px;
    padding-left: 10px;
    padding-top: 0.5px;
}
h3{
color: white;
}
input{
    margin-top: 2px;
}
#name, #email, #phone, #address, #postcode, #country, #cardtype, #cardnumber, #nameoncard, #securitycode{
    border: solid 1px;
    border-color: white;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.3);
    margin-left: 3px;
    margin-right: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;

}
#address > label{
    vertical-align:top;
}
input{
    margin-right: 10px;
    padding-right: 20px;
    border-radius: 5px;
    height: 20px;
}
img{
    width: 35px;
    height: 20px;

}
input[type="radio"]{
    margin: 2px;
    padding: 5px;
}

label {
    display: inline-block;
    width:100px;
    text-align: left;
}
input[type="submit"]{
    margin-top: 5px;
    margin-left: 160px;
    border-radius: 10px;
    background-color: darkblue;
    border-color: darkblue;
    color: white;
    padding: 8px;
    height: auto;
}
input:focus{
    background-color: lightgray;
}
textarea:focus{
    background-color: lightgray;
}
